{% extends "layout.html.twig" %}

{% block content %}
    {{ form_start(form) }}
        <div>

            <div style="float:right">
                {{ form_row(form.city) }}
                {{ form_row(form.date) }}
            </div>
        </div>
        <div style="float:left">
            {{ form_row(form.senderFullName) }}
            {{ form_row(form.senderAddress) }}
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div>
            <div style="float:right">
                {{ form_row(form.recipientFullName) }}
                {{ form_row(form.recipientAddress) }}
            </div>
        </div>
        <div>
            {{ form_row(form.contractDate) }}
            {{ form_row(form.noticeType) }}
        </div>
        {{ form_row(form.submit) }}

    {{ form_end(form) }}
{% endblock %}
